In [1]:
import pandas as pd
from pathlib import Path

In [2]:
# Import CSV
file_path = Path('hall_batter.csv')
hall_batter_df = pd.read_csv(file_path)
hall_batter_df

,playerID,G,AB,R,H,2B,3B,HR,RBI,SB,BB,SO,HBP,SH,SF,AVG,OBP,SLG,inducted
0,aardsda01,331.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,1.0,0.0,0.000000,0.000000,0.000000,N
1,aaronha01,3298.0,12364.0,2174.0,3771.0,624.0,98.0,755.0,2297.0,240.0,1402.0,1383.0,32.0,21.0,121.0,0.304998,0.373949,0.554513,Y
2,aaronto01,437.0,944.0,102.0,216.0,42.0,6.0,13.0,94.0,9.0,86.0,145.0,0.0,9.0,6.0,0.228814,0.291506,0.327331,N
3,aasedo01,448.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,N
4,abadan01,15.0,21.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,4.0,5.0,0.0,0.0,0.0,0.095238,0.240000,0.095238,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17517,zupcibo01,319.0,795.0,99.0,199.0,47.0,4.0,7.0,80.0,7.0,57.0,137.0,6.0,20.0,8.0,0.250314,0.302540,0.345912,N
17518,zupofr01,16.0,18.0,3.0,3.0,1.0,0.0,0.0,0.0,0.0,2.0,6.0,0.0,0.0,0.0,0.166667,0.250000,0.222222,N
17519,zuvelpa01,209.0,491.0,41.0,109.0,17.0,2.0,2.0,20.0,2.0,34.0,50.0,2.0,18.0,0.0,0.221996,0.275142,0.276986,N
17520,zuverge01,266.0,142.0,5.0,21.0,2.0,1.0,0.0,7.0,0.0,9.0,39.0,0.0,16.0,0.0,0.147887,0.198675,0.176056,N
17521,zwilldu01,366.0,1280.0,167.0,364.0,76.0,15.0,30.0,202.0,46.0,128.0,155.0,4.0,31.0,0.0,0.284375,0.351275,0.437500,N

In [3]:
# Import CSV
file_path = Path('Player_Names.csv')
Player_Names_df = pd.read_csv(file_path)
Player_Names_df

       Unnamed: 0   playerID First Name Last Name
0               0  aardsda01      David   Aardsma
1               1  aaronha01       Hank     Aaron
2               2  aaronto01     Tommie     Aaron
3               3   aasedo01        Don      Aase
4               4   abadan01       Andy      Abad
...           ...        ...        ...       ...
20088       20088   zupofr01      Frank      Zupo
20089       20089  zuvelpa01       Paul   Zuvella
20090       20090  zuverge01     George  Zuverink
20091       20091  zwilldu01      Dutch  Zwilling
20092       20092   zychto01       Tony      Zych

[20093 rows x 4 columns]

In [4]:
list(Player_Names_df.columns)

['Unnamed: 0', 'playerID', 'First Name', 'Last Name']

In [5]:
Player_Names_df.drop(columns = ['Unnamed: 0'])

        playerID First Name Last Name
0      aardsda01      David   Aardsma
1      aaronha01       Hank     Aaron
2      aaronto01     Tommie     Aaron
3       aasedo01        Don      Aase
4       abadan01       Andy      Abad
...          ...        ...       ...
20088   zupofr01      Frank      Zupo
20089  zuvelpa01       Paul   Zuvella
20090  zuverge01     George  Zuverink
20091  zwilldu01      Dutch  Zwilling
20092   zychto01       Tony      Zych

[20093 rows x 3 columns]

In [6]:
Names_Batter_df = Player_Names_df.merge(hall_batter_df, left_on = 'playerID', right_on = 'playerID')

In [7]:
Names_Batter_df

,Unnamed: 0,playerID,First Name,Last Name,G,AB,R,H,2B,3B,...,SB,BB,SO,HBP,SH,SF,AVG,OBP,SLG,inducted
0,0,aardsda01,David,Aardsma,331.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,2.0,0.0,1.0,0.0,0.000000,0.000000,0.000000,N
1,1,aaronha01,Hank,Aaron,3298.0,12364.0,2174.0,3771.0,624.0,98.0,...,240.0,1402.0,1383.0,32.0,21.0,121.0,0.304998,0.373949,0.554513,Y
2,2,aaronto01,Tommie,Aaron,437.0,944.0,102.0,216.0,42.0,6.0,...,9.0,86.0,145.0,0.0,9.0,6.0,0.228814,0.291506,0.327331,N
3,3,aasedo01,Don,Aase,448.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,3.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,N
4,4,abadan01,Andy,Abad,15.0,21.0,1.0,2.0,0.0,0.0,...,0.0,4.0,5.0,0.0,0.0,0.0,0.095238,0.240000,0.095238,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17517,20087,zupcibo01,Bob,Zupcic,319.0,795.0,99.0,199.0,47.0,4.0,...,7.0,57.0,137.0,6.0,20.0,8.0,0.250314,0.302540,0.345912,N
17518,20088,zupofr01,Frank,Zupo,16.0,18.0,3.0,3.0,1.0,0.0,...,0.0,2.0,6.0,0.0,0.0,0.0,0.166667,0.250000,0.222222,N
17519,20089,zuvelpa01,Paul,Zuvella,209.0,491.0,41.0,109.0,17.0,2.0,...,2.0,34.0,50.0,2.0,18.0,0.0,0.221996,0.275142,0.276986,N
17520,20090,zuverge01,George,Zuverink,266.0,142.0,5.0,21.0,2.0,1.0,...,0.0,9.0,39.0,0.0,16.0,0.0,0.147887,0.198675,0.176056,N
17521,20091,zwilldu01,Dutch,Zwilling,366.0,1280.0,167.0,364.0,76.0,15.0,...,46.0,128.0,155.0,4.0,31.0,0.0,0.284375,0.351275,0.437500,N

In [8]:
Names_Batter_df = Names_Batter_df.drop(columns = ["Unnamed: 0", "playerID", "inducted"])

In [9]:
Names_Batter_df

,First Name,Last Name,G,AB,R,H,2B,3B,HR,RBI,SB,BB,SO,HBP,SH,SF,AVG,OBP,SLG
0,David,Aardsma,331.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,1.0,0.0,0.000000,0.000000,0.000000
1,Hank,Aaron,3298.0,12364.0,2174.0,3771.0,624.0,98.0,755.0,2297.0,240.0,1402.0,1383.0,32.0,21.0,121.0,0.304998,0.373949,0.554513
2,Tommie,Aaron,437.0,944.0,102.0,216.0,42.0,6.0,13.0,94.0,9.0,86.0,145.0,0.0,9.0,6.0,0.228814,0.291506,0.327331
3,Don,Aase,448.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.000000,0.000000,0.000000
4,Andy,Abad,15.0,21.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,4.0,5.0,0.0,0.0,0.0,0.095238,0.240000,0.095238
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17517,Bob,Zupcic,319.0,795.0,99.0,199.0,47.0,4.0,7.0,80.0,7.0,57.0,137.0,6.0,20.0,8.0,0.250314,0.302540,0.345912
17518,Frank,Zupo,16.0,18.0,3.0,3.0,1.0,0.0,0.0,0.0,0.0,2.0,6.0,0.0,0.0,0.0,0.166667,0.250000,0.222222
17519,Paul,Zuvella,209.0,491.0,41.0,109.0,17.0,2.0,2.0,20.0,2.0,34.0,50.0,2.0,18.0,0.0,0.221996,0.275142,0.276986
17520,George,Zuverink,266.0,142.0,5.0,21.0,2.0,1.0,0.0,7.0,0.0,9.0,39.0,0.0,16.0,0.0,0.147887,0.198675,0.176056
17521,Dutch,Zwilling,366.0,1280.0,167.0,364.0,76.0,15.0,30.0,202.0,46.0,128.0,155.0,4.0,31.0,0.0,0.284375,0.351275,0.437500

In [10]:
Names_Batter_df.to_json('Names_Batter.json', orient = 'records')

In [ ]:
import json
Names_Batter = Names_Batter_df.to_json(orient = 'records')
parsed = json.loads(Names_Batter)
json.dumps(parsed, indent = 4)