In [29]:
import pandas as pd
from pathlib import Path


file_path = Path('./Resources/Pitching.csv')
pitching_df = pd.read_csv(file_path)
pitching_df

,playerID,yearID,stint,teamID,lgID,W,L,G,GS,CG,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
0,bechtge01,1871,1,PH1,NaN,1,2,3,3,2,...,NaN,7,NaN,0,146.0,0,42,NaN,NaN,NaN
1,brainas01,1871,1,WS3,NaN,12,15,30,30,30,...,NaN,7,NaN,0,1291.0,0,292,NaN,NaN,NaN
2,fergubo01,1871,1,NY2,NaN,0,0,1,0,0,...,NaN,2,NaN,0,14.0,0,9,NaN,NaN,NaN
3,fishech01,1871,1,RC1,NaN,4,16,24,24,22,...,NaN,20,NaN,0,1080.0,1,257,NaN,NaN,NaN
4,fleetfr01,1871,1,NY2,NaN,0,1,1,1,1,...,NaN,0,NaN,0,57.0,0,21,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48394,zeuchtj01,2020,1,TOR,AL,1,0,3,1,0,...,0.0,0,0.0,0,47.0,1,2,0.0,0.0,0.0
48395,zimmebr02,2020,1,BAL,AL,0,0,2,1,0,...,0.0,2,2.0,0,31.0,1,6,0.0,0.0,1.0
48396,zimmejo02,2020,1,DET,AL,0,0,3,2,0,...,0.0,0,0.0,0,28.0,0,6,0.0,0.0,1.0
48397,zimmeky01,2020,1,KCA,AL,1,0,16,1,0,...,0.0,2,1.0,0,91.0,4,4,0.0,0.0,3.0
48398,zuberty01,2020,1,KCA,AL,1,2,23,0,0,...,1.0,1,1.0,0,99.0,8,11,1.0,1.0,3.0

In [30]:
pwd

'c:\\Users\\Claire\\Code\\Final_Project_Baseball'

In [31]:
#view column headers
pitching_df.columns

Index(['playerID', 'yearID', 'stint', 'teamID', 'lgID', 'W', 'L', 'G', 'GS',
       'CG', 'SHO', 'SV', 'IPouts', 'H', 'ER', 'HR', 'BB', 'SO', 'BAOpp',
       'ERA', 'IBB', 'WP', 'HBP', 'BK', 'BFP', 'GF', 'R', 'SH', 'SF', 'GIDP'],
      dtype='object')

In [32]:
#merge Hall of Fame into our pitching_df
file_path_HOF = Path('./Resources/HallOfFame.csv')
HOF_df = pd.read_csv(file_path_HOF)
HOF_df

,playerID,yearID,votedBy,ballots,needed,votes,inducted,category,needed_note
0,cobbty01,1936,BBWAA,226.0,170.0,222.0,Y,Player,NaN
1,ruthba01,1936,BBWAA,226.0,170.0,215.0,Y,Player,NaN
2,wagneho01,1936,BBWAA,226.0,170.0,215.0,Y,Player,NaN
3,mathech01,1936,BBWAA,226.0,170.0,205.0,Y,Player,NaN
4,johnswa01,1936,BBWAA,226.0,170.0,189.0,Y,Player,NaN
...,...,...,...,...,...,...,...,...,...
4186,lidgebr01,2018,BBWAA,422.0,317.0,0.0,N,Player,NaN
4187,millwke01,2018,BBWAA,422.0,317.0,0.0,N,Player,NaN
4188,zambrca01,2018,BBWAA,422.0,317.0,0.0,N,Player,NaN
4189,morrija02,2018,Veterans,NaN,NaN,NaN,Y,Player,NaN
4190,trammal01,2018,Veterans,NaN,NaN,NaN,Y,Player,NaN

In [33]:
# checking for null values
pitching_df.isnull().sum()

playerID        0
yearID          0
stint           0
teamID          0
lgID          132
W               0
L               0
G               0
GS              0
CG              0
SHO             0
SV              0
IPouts          0
H               0
ER              0
HR              0
BB              0
SO              0
BAOpp        4441
ERA            94
IBB         14578
WP              0
HBP           734
BK              0
BFP             3
GF              0
R               0
SH          19187
SF          19187
GIDP        20318
dtype: int64

In [34]:
# dropping SH, SF, GIDP, IBB
pitching_df = pitching_df.drop(columns=['SH', 'SF', 'IBB', 'GIDP', 'yearID' , 'stint']).copy()
pitching_df

,playerID,teamID,lgID,W,L,G,GS,CG,SHO,SV,...,BB,SO,BAOpp,ERA,WP,HBP,BK,BFP,GF,R
0,bechtge01,PH1,NaN,1,2,3,3,2,0,0,...,11,1,NaN,7.96,7,NaN,0,146.0,0,42
1,brainas01,WS3,NaN,12,15,30,30,30,0,0,...,37,13,NaN,4.50,7,NaN,0,1291.0,0,292
2,fergubo01,NY2,NaN,0,0,1,0,0,0,0,...,0,0,NaN,27.00,2,NaN,0,14.0,0,9
3,fishech01,RC1,NaN,4,16,24,24,22,1,0,...,31,15,NaN,4.35,20,NaN,0,1080.0,1,257
4,fleetfr01,NY2,NaN,0,1,1,1,1,0,0,...,3,0,NaN,10.00,0,NaN,0,57.0,0,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48394,zeuchtj01,TOR,AL,1,0,3,1,0,0,0,...,4,3,0.209,1.59,0,0.0,0,47.0,1,2
48395,zimmebr02,BAL,AL,0,0,2,1,0,0,0,...,2,7,0.222,7.71,2,2.0,0,31.0,1,6
48396,zimmejo02,DET,AL,0,0,3,2,0,0,0,...,2,6,0.423,7.94,0,0.0,0,28.0,0,6
48397,zimmeky01,KCA,AL,1,0,16,1,0,0,0,...,10,26,0.175,1.57,2,1.0,0,91.0,4,4
48398,zuberty01,KCA,AL,1,2,23,0,0,0,0,...,20,30,0.197,4.09,1,1.0,0,99.0,8,11

In [35]:
# Creating new database of players' cumulative career statistics
career_pitching_df = pitching_df.groupby(['playerID']).sum()
career_pitching_df

,W,L,G,GS,CG,SHO,SV,IPouts,H,ER,...,BB,SO,BAOpp,ERA,WP,HBP,BK,BFP,GF,R
playerID,,,,,,,,,,,,,,,,,,,,,
aardsda01,16,18,331,0,0,0,69,1011,296,160,...,183,340,2.317,46.75,12,16.0,1,1475.0,141,169
aasedo01,66,60,448,91,22,5,82,3328,1085,468,...,457,641,3.261,45.41,22,7.0,3,4730.0,235,503
abadfe01,8,29,384,6,0,0,2,992,309,135,...,116,280,2.447,40.81,10,12.0,2,1399.0,97,143
abbeybe01,22,40,79,65,52,0,1,1704,686,285,...,192,161,0.000,28.07,18,26.0,0,2568.0,14,442
abbeych01,0,0,1,0,0,0,0,6,6,1,...,0,0,0.000,4.50,1,0.0,0,12.0,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zuberbi01,43,42,224,65,23,3,6,2358,767,374,...,468,383,3.260,64.34,28,4.0,1,3476.0,90,418
zuberty01,1,2,23,0,0,0,0,66,15,10,...,20,30,0.197,4.09,1,1.0,0,99.0,8,11
zumayjo01,13,12,171,0,0,0,5,629,169,71,...,114,210,1.143,17.21,16,4.0,0,911.0,35,80
zuverge01,32,36,265,31,9,2,40,1927,660,253,...,203,223,2.760,41.28,10,27.0,1,2746.0,139,296
zychto01,7,3,70,1,0,0,1,218,57,22,...,34,80,0.655,8.40,2,8.0,1,309.0,14,24

In [36]:
# creating the win%, Strikeout-to-walk Ratio (K/BB), 
win_percentage = career_pitching_df['W'] / career_pitching_df['L']
strikout_walk_ratio = career_pitching_df['SO'] / career_pitching_df['BB']

In [37]:
career_pitching_df['Win %'] = win_percentage
career_pitching_df['(K/BB)'] = strikout_walk_ratio
career_pitching_df

,W,L,G,GS,CG,SHO,SV,IPouts,H,ER,...,BAOpp,ERA,WP,HBP,BK,BFP,GF,R,Win %,(K/BB)
playerID,,,,,,,,,,,,,,,,,,,,,
aardsda01,16,18,331,0,0,0,69,1011,296,160,...,2.317,46.75,12,16.0,1,1475.0,141,169,0.888889,1.857923
aasedo01,66,60,448,91,22,5,82,3328,1085,468,...,3.261,45.41,22,7.0,3,4730.0,235,503,1.100000,1.402626
abadfe01,8,29,384,6,0,0,2,992,309,135,...,2.447,40.81,10,12.0,2,1399.0,97,143,0.275862,2.413793
abbeybe01,22,40,79,65,52,0,1,1704,686,285,...,0.000,28.07,18,26.0,0,2568.0,14,442,0.550000,0.838542
abbeych01,0,0,1,0,0,0,0,6,6,1,...,0.000,4.50,1,0.0,0,12.0,1,3,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zuberbi01,43,42,224,65,23,3,6,2358,767,374,...,3.260,64.34,28,4.0,1,3476.0,90,418,1.023810,0.818376
zuberty01,1,2,23,0,0,0,0,66,15,10,...,0.197,4.09,1,1.0,0,99.0,8,11,0.500000,1.500000
zumayjo01,13,12,171,0,0,0,5,629,169,71,...,1.143,17.21,16,4.0,0,911.0,35,80,1.083333,1.842105
zuverge01,32,36,265,31,9,2,40,1927,660,253,...,2.760,41.28,10,27.0,1,2746.0,139,296,0.888889,1.098522
zychto01,7,3,70,1,0,0,1,218,57,22,...,0.655,8.40,2,8.0,1,309.0,14,24,2.333333,2.352941

In [38]:
# Filling remaining NaN figures as 0
career_pitching_df = career_pitching_df.fillna(0)
career_pitching_df

,W,L,G,GS,CG,SHO,SV,IPouts,H,ER,...,BAOpp,ERA,WP,HBP,BK,BFP,GF,R,Win %,(K/BB)
playerID,,,,,,,,,,,,,,,,,,,,,
aardsda01,16,18,331,0,0,0,69,1011,296,160,...,2.317,46.75,12,16.0,1,1475.0,141,169,0.888889,1.857923
aasedo01,66,60,448,91,22,5,82,3328,1085,468,...,3.261,45.41,22,7.0,3,4730.0,235,503,1.100000,1.402626
abadfe01,8,29,384,6,0,0,2,992,309,135,...,2.447,40.81,10,12.0,2,1399.0,97,143,0.275862,2.413793
abbeybe01,22,40,79,65,52,0,1,1704,686,285,...,0.000,28.07,18,26.0,0,2568.0,14,442,0.550000,0.838542
abbeych01,0,0,1,0,0,0,0,6,6,1,...,0.000,4.50,1,0.0,0,12.0,1,3,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zuberbi01,43,42,224,65,23,3,6,2358,767,374,...,3.260,64.34,28,4.0,1,3476.0,90,418,1.023810,0.818376
zuberty01,1,2,23,0,0,0,0,66,15,10,...,0.197,4.09,1,1.0,0,99.0,8,11,0.500000,1.500000
zumayjo01,13,12,171,0,0,0,5,629,169,71,...,1.143,17.21,16,4.0,0,911.0,35,80,1.083333,1.842105
zuverge01,32,36,265,31,9,2,40,1927,660,253,...,2.760,41.28,10,27.0,1,2746.0,139,296,0.888889,1.098522
zychto01,7,3,70,1,0,0,1,218,57,22,...,0.655,8.40,2,8.0,1,309.0,14,24,2.333333,2.352941

In [39]:
# filtering career_pitching_df by SO 
career_pitching_df = career_pitching_df[career_pitching_df.SO>300]
career_pitching_df

,W,L,G,GS,CG,SHO,SV,IPouts,H,ER,...,BAOpp,ERA,WP,HBP,BK,BFP,GF,R,Win %,(K/BB)
playerID,,,,,,,,,,,,,,,,,,,,,
aardsda01,16,18,331,0,0,0,69,1011,296,160,...,2.317,46.75,12,16.0,1,1475.0,141,169,0.888889,1.857923
aasedo01,66,60,448,91,22,5,82,3328,1085,468,...,3.261,45.41,22,7.0,3,4730.0,235,503,1.100000,1.402626
abbotgl01,62,83,248,206,37,5,0,3858,1405,627,...,3.343,51.98,18,32.0,5,5508.0,13,707,0.746988,1.375000
abbotji01,87,108,263,254,31,6,0,5022,1779,791,...,3.084,49.46,53,32.0,11,7211.0,5,880,0.805556,1.432258
abbotpa01,43,37,162,112,1,0,0,2162,682,394,...,3.138,66.14,37,21.0,0,3187.0,17,421,1.162162,1.262087
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zambrvi01,45,44,187,100,1,0,3,2119,669,364,...,2.401,52.57,46,63.0,5,3187.0,36,399,1.022727,1.309406
zieglbr01,37,38,739,0,0,0,105,2152,654,219,...,3.479,38.42,7,25.0,1,2947.0,264,251,0.973684,1.931452
zimmejo02,95,91,277,275,8,4,0,4825,1665,725,...,3.376,55.58,25,59.0,2,6740.0,1,784,1.043956,3.694767
zitoba01,165,143,433,421,12,5,0,7730,2381,1157,...,3.841,68.34,50,97.0,8,11001.0,9,1254,1.153846,1.771617
zuberbi01,43,42,224,65,23,3,6,2358,767,374,...,3.260,64.34,28,4.0,1,3476.0,90,418,1.023810,0.818376

In [60]:
# change column names to names accepted by Postgres
career_pitching_df = career_pitching_df.rename(columns={'Win %': 'Win Percentage', '(K/BB)': 'K_to_BB'})

In [61]:
# add inducted Y or N column from HOF_df and remove unneeded columns
hall_pitching_df = career_pitching_df.merge(HOF_df, how='inner', on='playerID')
hall_pitching_df = hall_pitching_df.drop(['yearID', 'votedBy', 'ballots', 'needed', 'votes', 'category', 'needed_note'], axis=1)
hall_pitching_df

,playerID,W,L,G,GS,CG,SHO,SV,IPouts,H,...,ERA,WP,HBP,BK,BFP,GF,R,Win Percentage,K_to_BB,inducted
0,abbotji01,87,108,263,254,31,6,0,5022,1779,...,49.46,53,32.0,11,7211.0,5,880,0.805556,1.432258,N
1,adamsba01,194,140,482,355,206,44,15,8986,2841,...,70.94,26,47.0,2,11947.0,89,1129,1.385714,2.409302,N
2,adamsba01,194,140,482,355,206,44,15,8986,2841,...,70.94,26,47.0,2,11947.0,89,1129,1.385714,2.409302,N
3,adamsba01,194,140,482,355,206,44,15,8986,2841,...,70.94,26,47.0,2,11947.0,89,1129,1.385714,2.409302,N
4,adamsba01,194,140,482,355,206,44,15,8986,2841,...,70.94,26,47.0,2,11947.0,89,1129,1.385714,2.409302,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1316,zachato01,186,191,533,409,186,24,22,9379,3580,...,148.42,38,41.0,15,13551.0,84,1552,0.973822,0.787746,N
1317,zachato01,186,191,533,409,186,24,22,9379,3580,...,148.42,38,41.0,15,13551.0,84,1552,0.973822,0.787746,N
1318,zachrpa01,69,67,293,154,29,7,3,3532,1147,...,40.22,19,21.0,10,5050.0,44,529,1.029851,1.351515,N
1319,zahnge01,111,109,304,270,79,20,1,5547,1978,...,62.29,32,19.0,4,7798.0,13,889,1.018349,1.340304,N
1320,zambrca01,132,91,354,302,10,5,0,5877,1709,...,55.72,58,102.0,5,8389.0,11,879,1.450549,1.822940,N

In [41]:
# view updated columns
hall_pitching_df.columns.tolist()

['playerID',
 'W',
 'L',
 'G',
 'GS',
 'CG',
 'SHO',
 'SV',
 'IPouts',
 'H',
 'ER',
 'HR',
 'BB',
 'SO',
 'BAOpp',
 'ERA',
 'WP',
 'HBP',
 'BK',
 'BFP',
 'GF',
 'R',
 'Win %',
 '(K/BB)',
 'inducted']

In [52]:
# Dropping duplicate rows of multiple HOF vote receivers, keeping last one for Y votes
hall_pitching_df = hall_pitching_df.drop_duplicates(subset=['playerID'], keep='last').set_index('playerID')
hall_pitching_df

,W,L,G,GS,CG,SHO,SV,IPouts,H,ER,...,ERA,WP,HBP,BK,BFP,GF,R,Win %,(K/BB),inducted
playerID,,,,,,,,,,,,,,,,,,,,,
abbotji01,87,108,263,254,31,6,0,5022,1779,791,...,49.46,53,32.0,11,7211.0,5,880,0.805556,1.432258,N
adamsba01,194,140,482,355,206,44,15,8986,2841,917,...,70.94,26,47.0,2,11947.0,89,1129,1.385714,2.409302,N
aguilri01,86,81,732,89,10,0,318,3874,1233,512,...,66.43,53,36.0,10,5391.0,557,568,1.061728,2.934473,N
akerja01,47,45,495,0,0,0,123,2238,679,272,...,53.96,13,40.0,0,3144.0,321,312,1.044444,1.474453,N
alexado01,194,174,561,464,98,18,3,10103,3376,1406,...,88.66,74,53.0,10,14162.0,56,1541,1.114943,1.562372,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
youngcy01,511,315,906,815,749,76,18,22068,7092,2147,...,62.40,156,161.0,3,29579.0,84,3167,1.622222,2.303205,Y
zachato01,186,191,533,409,186,24,22,9379,3580,1295,...,148.42,38,41.0,15,13551.0,84,1552,0.973822,0.787746,N
zachrpa01,69,67,293,154,29,7,3,3532,1147,461,...,40.22,19,21.0,10,5050.0,44,529,1.029851,1.351515,N
zahnge01,111,109,304,270,79,20,1,5547,1978,769,...,62.29,32,19.0,4,7798.0,13,889,1.018349,1.340304,N
zambrca01,132,91,354,302,10,5,0,5877,1709,797,...,55.72,58,102.0,5,8389.0,11,879,1.450549,1.822940,N

In [57]:
# Rename columns 'Win %' and '(K/BB)' to acceptable name in Postgres
hall_pitching_df = hall_pitching_df.rename(columns={'Win %': 'Win Percentage', '(K/BB)': 'K_to_BB'})

In [43]:
# create_engine from the sqlalchemy module
from sqlalchemy import create_engine

In [44]:
# import password from config file
from config import db_password

In [45]:
# Postgres connection string
db_string = f"postgres://postgres:{db_password}@127.0.0.1:5432/baseball_data"

In [46]:
# Create the database engine
engine = create_engine(db_string)

In [62]:
# Save pitching dataframe to SQL table
hall_pitching_df.to_sql(name='hall_pitching', con=engine, if_exists='replace')
career_pitching_df.to_sql(name='career_pitching', con=engine, if_exists='replace')